<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * The MIT License (MIT)
 * 
 * Copyright (c) 2015 Knectar Design
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
 *
 * @category   Utilities
 * @package    Knectar_Storecodes
 * @author     Daniel Deady <daniel.deady@knectar.com>
 * @license    http://opensource.org/licenses/MIT
 */
-->
<config>
    <modules>
        <Knectar_Storecodes>
            <version>0.1.0</version>
        </Knectar_Storecodes>
    </modules>

    <global>
        <helpers>
            <knectar_storecodes>
                <class>Knectar_Storecodes_Helper</class>
            </knectar_storecodes>
        </helpers>
        <models>
            <knectar_storecodes>
                <class>Knectar_Storecodes_Model</class>
            </knectar_storecodes>
            <cms_resource>
                <rewrite>
                    <page>Knectar_Storecodes_Model_Resource_Cms_Page</page>
                </rewrite>
            </cms_resource>
        </models>
        <events>
            <!-- Insert custom controller before others so when forwarded to noRoute page we can intercept -->
            <controller_front_init_before>
                <observers>
                    <knectar_storecodes>
                        <class>Knectar_Storecodes_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </knectar_storecodes>
                </observers>
            </controller_front_init_before>

            <!-- Overwrite store code setting when it is safe -->
            <controller_front_init_routers>
                <observers>
                    <knectar_storecodes>
                        <class>Knectar_Storecodes_Model_Domains</class>
                        <method>updateConfig</method>
                    </knectar_storecodes>
                </observers>
            </controller_front_init_routers>
            <!-- cron.php has it's own events -->
            <always>
                <observers>
                    <knectar_storecodes>
                        <class>Knectar_Storecodes_Model_Domains</class>
                        <method>updateConfig</method>
                    </knectar_storecodes>
                </observers>
            </always>
            <default>
                <observers>
                    <knectar_storecodes>
                        <class>Knectar_Storecodes_Model_Domains</class>
                        <method>updateConfig</method>
                    </knectar_storecodes>
                </observers>
            </default>
        </events>
    </global>

    <default>
        <web>
            <url>
                <use_store_default>1</use_store_default>
            </url>
        </web>
    </default>
</config>